<div class="content_container">
  <h1 class='heading'>Recipes</h1>
  <% @recipes.each do |recipe| %>
  <div class="recipe_item">
    <%= link_to image_tag(recipe.image), recipe_path(recipe.id) %>
    <p class='title'><%= link_to recipe.title, recipe_path(recipe.id) %></p>
    <p class='author'>Author: <%= recipe.user.name %></p>
    <p class='description'><%= recipe.description %></p>
  </div>
  <% end %>
</div>
