<h1>Home Page!</h1>

<h3>I need this page to be a social media style page with</h3>
<ul>
  <li>Recipe Titles</li>
  <li>Recipe Author</li>
  <li>Recipe Thumbnail</li>
  <li>Recipe Description</li>
</ul>

<h4>It'd be dope to also have a sidebar which linked to shopping lists and showed how many items each held</h4>

<% @recipes.each do |recipe| %>
  <div class="recipe_home">
    <span><%= link_to recipe.title, recipe_path(recipe.id) %></span>
    |
    <span>Author: <%= recipe.user.name %></span>
    <p><%= recipe.description %></p>
  </div>
<% end %>
