<h1><%= @shopping_list.name %></h1>
<ul>
  <% @shopping_list.shopping_list_items.each do |item| %>
    <li><%= item.ingredient.product %> x <%= item.quantity %> <%= item.unit %></li>
  <% end %>
</ul>
